<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag -->


<div class="container">
    <div class="row">
               <div id="custom-search-input">
                                <div class="input-group col-md-12" style="text-align: center">
                                    <input type="text" class="search-query form-control" placeholder="  Search With Center Name "  name="nomdestinataire" [(ngModel)]="nomdestinataire"/>
                                    <span class="input-group-btn">
                                        <button class="btn btn-danger" type="button" (click)="SearchLivraison()">
                                           search
                                        </button>
                                    </span>
                                </div>
                            </div>
    </div>
    </div>

<div class="container">
<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>nomdestinataire</th>
            <th>prenomdestinataire</th>
            <th>adresse</th>
            <th>mail</th>
            <th>numerotel</th>
            <th>Action</th>
    </thead>
    <tbody>
        <tr *ngFor="let Livraison of livraisons">
            <td>{{Livraison.idlivraison}}</td>
            <td>{{Livraison.nomdestinataire}}</td>
            <td>{{Livraison.prenomdestinataire}}</td>
            <td>{{Livraison.adresse}}</td>
            <td>{{Livraison.mail}}</td>
            <td>{{Livraison.numerotel}}</td>
            <td class="text-center"><button class="btn btn-danger btn-xs" (click)="delete(Livraison.idLivraison)"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
            <td><button (click)="updateDelivery(Livraison)">Modifier</button></td>
          </tr>
    </tbody>
    </table>

    <div *ngIf="editing">
    <form>
        <fieldset>
            <legend class="text-center">Valid information is required to register. <span class="req"><small>
                        *:required</small></span></legend>

            <div class="form-group">
                <label for="adress"><span class="req">* Address : </span> Adress: <small>This is the  address of the delivery
                        </small> </label>
                <input required type="text" [(ngModel)]="Livraison.adresse" name="adress" id="adress"
                    class="form-control phone" maxlength="28" placeholder="Enter the adress..." />
            </div>







            <div class="form-group">
                <label ><span class="req">* Email :</span> Email: </label>
                <input class="form-control" type="text" [(ngModel)]="Livraison.mail" name="email" id="txt" required
                    placeholder="Enter valid email address" />
                <div id="errFirst"></div>
            </div>

            <div class="form-group">
                <label ><span class="req"> * Recipient's lastname:</span> Recipient's lastname: </label>
                <input class="form-control" type="text" [(ngModel)]="Livraison.nomdestinataire" name="nomdestinataire" id="txta"
                    placeholder="Total year of experience" required />
                <div id="errLast"></div>
            </div>

            <div class="form-group">
                <label ><span class="req"> * Recipient's firstname :  </span> Recipient's firstname : </label>
                <input class="form-control" required type="text" [(ngModel)]="Livraison.prenomdestinataire" name="prenomdestinataire"
                    id="email" placeholder="fullstack/backend/developer" />
                <div class="status" id="status"></div>
            </div>

            <div class="form-group">
                <label ><span class="req">* Phone number : </span> Phone number : </label>
                <input class="form-control" type="number" [(ngModel)]="Livraison.numerotel" name="Numero" id="txtt"
                    placeholder="Total year of experience" required />
                <div id="errLastt"></div>
            </div>

            <div class="form-group">
                <input class="btn btn-success" type="submit" name="submit_reg" value="Register" (click)="register()">
            </div>
        </fieldset>
    </form>
</div>

    </div>
</div>
</div>
