<header>
  <div class="page-header min-vh-75" style="background-image: url('https://images.unsplash.com/photo-1520769945061-0a448c463865?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1950&amp;q=80');" loading="lazy">
    <span class="mask bg-gradient-dark opacity-5"></span>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 d-flex justify-content-center text-md-start text-center flex-column mt-sm-0 mt-7">
          <div class="text-center">
            <h1 class="text-white ">Your Perfect Place for Shopping</h1>

          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6 mb-4">

  <br><br><br><br>


  <section class="py-4 position-relative">
    <div class="container-fluid">
      <div class="row">
        <div class="col-10 mx-auto bg-gradient-dark border-radius-lg">
          <div class="row py-5">
            <div class="col-xl-4 col-md-6 px-5 position-relative">
              <img class="img border-radius-md max-width-300 w-100 position-relative z-index-2 mt-n7" src="https://img.freepik.com/vecteurs-premium/panier-icones-qui-representent-applications-achat-ligne-flottant-ecran-du-smartphone-il-y-icone-smiley-flottant-cote-ellevecteur-3d-isole-fond-orange-pour-publicite_425581-66.jpg" loading="lazy" alt="card image">
            </div>
            <div class="col-xl-4 col-md-5 z-index-2 position-relative px-md-3 px-5 my-md-auto mt-4">
              <i class="material-icons text-white text-5xl">format_quote</i>
              <p class="text-lg text-white">
                Shopping online has revolutionized the way we shop, providing us with a world of products and services that are just a click away. With endless options and the convenience of shopping from home, it's like having a mall at your fingertips.
              </p>
              <p class="text-white font-weight-bold text-sm">Michael - <span class="text-xs font-weight-normal">Writter</span></p>
              <hr class="vertical start-100 ms-n5 d-xl-block d-none">
            </div>
            <div class="col-1"></div>
            <div class="col-xl-2 col-12 px-xl-0 px-5 my-xl-auto">
              <h3 class="text-white mt-xl-0 mt-5">2.14 billion +</h3>
              <p class="text-sm text-white opacity-8">People worldwide who are shopping online.</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<br><br><br>


  <section class="features-3 py-4">
    <div class="container">
      <div class="row text-center justify-content-center">
        <div class="col-lg-6">
          <h2>Explore our MarketPlace Features ! </h2>
          <p>
            Welcome to our online marketplace! We offer a wide variety of products from a range of trusted sellers, all in one convenient location.
          </p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-lg-4 mb-lg-0 mb-4">

          <div class="card">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <a class="d-block blur-shadow-image">
                <img src="https://images.unsplash.com/photo-1540553016722-983e48a2cd10?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1950&amp;q=80" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg" loading="lazy">
              </a>
            </div>
            <div class="card-body">
              <h5 class="font-weight-normal">Forum Space </h5>
              <p> Our Forum feature is a vibrant online community where you can connect with like-minded individuals to share ideas and  ask questions.</p>
              <button class="btn btn-outline-dark btn-sm mb-0" type="button" name="button">Find more</button>
            </div>
          </div>


<!--          <div class="card mt-5">-->
<!--            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">-->
<!--              <a class="d-block blur-shadow-image">-->
<!--                <img src="https://images.unsplash.com/photo-1589884629108-3193400c7cc9?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1950&amp;q=80" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg" loading="lazy">-->
<!--              </a>-->
<!--            </div>-->
<!--            <div class="card-body">-->
<!--              <h5 class="font-weight-normal">Complaints Space </h5>-->
<!--              <p>If any market posts low quality Products You can easily share your complaint to other clients and to the market and we'll surely tak action !  </p>-->
<!--              <button class="btn btn-outline-dark btn-sm mb-0" type="button" name="button">More info</button>-->
<!--            </div>-->
<!--          </div>-->

        </div>
        <div class="col-lg-4 mb-lg-0 mb-4">

          <div class="card">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <a class="d-block blur-shadow-image">
                <img src="https://images.unsplash.com/photo-1498677231914-50deb6ba4217?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1950&amp;q=80" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg" loading="lazy">
              </a>
            </div>
            <div class="card-body">
              <h5 class="font-weight-normal">Products Gesture </h5>
              <p>You can provide us with ur centers of interest and  Well chosen products will appear in your home page automatically for better Experience !  </p>
              <button class="btn btn-outline-dark btn-sm mb-0" type="button" name="button">More info</button>
            </div>
          </div>


<!--          <div class="card mt-5">-->
<!--            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">-->
<!--              <a class="d-block blur-shadow-image">-->
<!--                <img src="https://images.unsplash.com/photo-1527192491265-7e15c55b1ed2?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1950&amp;q=80" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg" loading="lazy">-->
<!--              </a>-->
<!--            </div>-->
<!--            <div class="card-body">-->
<!--              <h5 class="font-weight-normal">Co-working Spaces</h5>-->
<!--              <p>Smart money is just dumb money that’s been through a crash. Business than the business itself.</p>-->
<!--              <button class="btn btn-outline-dark btn-sm mb-0" type="button" name="button">Find more</button>-->
<!--            </div>-->
<!--          </div>-->

        </div>
        <div class="col-lg-4">
          <div class="card">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <a class="d-block blur-shadow-image">
                <img src="https://images.unsplash.com/photo-1589884629108-3193400c7cc9?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1950&amp;q=80" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg" loading="lazy">
              </a>
            </div>
            <div class="card-body">
              <h5 class="font-weight-normal">Complaints Space </h5>
              <p>If any market posts low quality Products You can easily share your complaint to other clients and to the market and we'll surely tak action !  </p>
              <button class="btn btn-outline-dark btn-sm mb-0" type="button" name="button">More info</button>
            </div>
          </div>

<!--          <div class="card">-->
<!--            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">-->
<!--              <a class="d-block blur-shadow-image">-->
<!--                <img src="https://images.unsplash.com/photo-1587578932405-7c740a762f7f?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1950&amp;q=80" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg" loading="lazy">-->
<!--              </a>-->
<!--            </div>-->
<!--            <div class="card-body">-->
<!--              <h5 class="font-weight-normal">Home Office</h5>-->
<!--              <p>Website visitors today demand a frictionless user expericence — especially when using search.</p>-->
<!--              <button class="btn btn-outline-dark btn-sm mb-0" type="button" name="button">Find more</button>-->
<!--            </div>-->
<!--          </div>-->


<!--          <div class="card mt-5">-->
<!--            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">-->
<!--              <a class="d-block blur-shadow-image">-->
<!--                <img src="https://images.unsplash.com/photo-1461988625982-7e46a099bf4f?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1950&amp;q=80" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg" loading="lazy">-->
<!--              </a>-->
<!--            </div>-->
<!--            <div class="card-body">-->
<!--              <h5 class="font-weight-normal">Private Space</h5>-->
<!--              <p>Technology is not only the thing that moves the human race forward, but it’s the only thing that has.</p>-->
<!--              <button class="btn btn-outline-dark btn-sm mb-0" type="button" name="button">More info</button>-->
<!--            </div>-->
<!--          </div>-->

        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="my-10 py-5 bg-gradient-dark position-relative border-radius-xl" style="background-image:url('https://images.unsplash.com/photo-1533563906091-fdfdffc3e3c4?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1950&amp;q=80')" loading="lazy">
      <div class="container position-relative z-index-2">
        <div class="row">
          <div class="col-lg-5 col-md-8 m-auto text-start">
            <h5 class="text-white mb-lg-0 mb-5">
              Our donation feature is a simple and effective way to support the causes and organizations you care about most. With just a few clicks, you can make a donation directly to your chosen charity or nonprofit organization through our secure platform.
            </h5>
          </div>
          <div class="col-lg-6 m-auto">
            <div class="row">
              <div class="col-sm-4 col-6 ps-sm-0 ms-auto">
                <button type="button" class="btn bg-gradient-warning mb-0 ms-lg-3 ms-sm-2 mb-sm-0 mb-2 me-auto w-100 d-block">Take Action</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

