<section class="content">
  <div class="container-fluid">
<h1>Users List</h1>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"></h3>

        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 150px;">
            <input type="text" name="table_search" class="form-control float-right" placeholder="Search" id="search-input">

            <div class="input-group-append">
              <button type="submit" class="btn btn-default">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0" style="height: 300px;">
        <table class="table table-head-fixed text-nowrap" >
          <thead>
          <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Firstname</th>
            <th>Email</th>
            <th>Cin</th>
            <th>Phone</th>
            <th>Ban </th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody id="search-results">
          <tr *ngFor="let u of listUsers">
            <td>{{u.id}}</td>
            <td>{{u.username}}</td>
            <td>{{u.firstName}}</td>
            <td>{{u.email}}</td>
            <td>{{u.cinUser}}</td>
            <td>{{u.phoneNumber}}</td>
            <td>{{u.banTime}}</td>
            <td><button type="button" (click)="UnBan(u.id)" class="btn-app">Unban</button> <button [routerLink]="['../modifyusersback',u.id]" type="button" class="btn-app">SHOW</button> </td>
          </tr>

          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>
<!-- /.row -->
  </div>
</section>
<script>
  const searchInput = document.querySelector('#search-input');

  // ajoute un événement de saisie pour le champ de recherche
  searchInput.addEventListener('input', function() {
    // récupère la valeur de recherche
    const searchTerm = this.value;

    // effectue une requête AJAX pour récupérer les résultats de recherche
    // en utilisant la valeur de recherche comme paramètre
    fetch(`/search?q=${searchTerm}`)
      .then(response => response.json())
      .then(results => {
        // affiche les résultats de recherche sur la page
        const searchResults = document.querySelector('#search-results');
        searchResults.innerHTML = '';

        results.forEach(result => {
          const resultElement = document.createElement('div');
          resultElement.innerHTML = result.title;
          searchResults.appendChild(resultElement);
        });
      })
      .catch(error => console.error(error));
  });
</script>
