<section class="py-8">
  <div class="container">
    <div class="row justify-space-between py-2">
      <div class="card card-plain card-blog mt-5">
        <div class="row">
          <div class="col-md-4">
            <div class="card-image position-relative border-radius-lg cursor-pointer">
              <div class="blur-shadow-image">
                <img class="img border-radius-lg" src="../../assets/img/examples/card-blog4.jpg">
              </div>
            </div>
          </div>
          <div class="col-md-7 my-auto ms-md-3 mt-md-auto mt-4">
            <p class="text-xs text-uppercase font-weight-bold text-gradient text-info mb-2">Startups</p>
            <h3 class="text-dark cursor-pointer">Lyft launching cross-platform service this week</h3>
            <p>
              Like so many organizations these days, Autodesk is a company in transition. It was until recently a traditional boxed software company selling licenses. Yet its own business model disruption is only part of the story — and <a href="javascript:;" class="text-dark"> Read More </a>
            </p>
            <div class="author">
              <p class="mb-0">by<a class="ps-1 text-dark" href="javascript:;"><b>Megan Rose</b></a>, 2 days ago</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
